.login_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 590px;
    height: 450px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 60px;
    background-color: #ffffff;
}

.form_title {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}
