.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(0, 28, 57);
}

.homework_title {
  color: orange;
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 26px;
}

.cards_container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}