.input_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  height: 50px;
  margin-bottom: 16px;
}

.input_label {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #6f6f6f;
}

.input_element {
  width: 100%;
  height: 48px;
  padding: 12px;
  border: 1px solid #3f3f3f;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  font-weight: 400;
  line-height: 24px;
 
}

.input_element:focus {
  border-color: #1f3cf2; /* Синий цвет при клике */
}
